:root {
  --accent-color-0: #33b377;
  --accent-color-1: #d9735f;
  --accent-color-2: #efefef;
  --accent-color-3: #eaa154;
}

.option {
  &.accent-color-0 {
    background: var(--accent-color-0);
  }

  &.accent-color-1 {
    background: var(--accent-color-1);
  }

  &.accent-color-2 {
    background: var(--accent-color-2);
  }

  &.accent-color-3 {
    background: var(--accent-color-3);
  }
}
