.stucco {
  stroke: black;
  stroke-linecap: round;

  &.stucco-0 {
    stroke-width: .5;
    stroke-opacity: .3;
  }

  &.stucco-1 {
    stroke-width: .5;
    stroke-opacity: .2;
  }
}

.raufaser {
  fill: black;
  opacity: .12;
}

.facade-color-0 {
  .facade {
    fill: #fefdf7;
  }

  &.option {
    background: #fefdf7;
  }
}

.facade-color-1 {
  .facade {
    fill: #f39292;
  }

  &.option {
    background: #f39292;
  }
}

.facade-color-2 {
  .facade {
    fill: #e8df9a;
  }

  &.option {
    background: #e8df9a;
  }
}

.facade-color-3 {
  .facade {
    fill: #8ac7ac;
  }

  &.option {
    background: #8ac7ac;
  }
}
