.brick-lining {
  fill: transparent;
  stroke: url(#brickPattern);
  stroke-width: 5;
}

.facade-color-0 {
  .facade {
    fill: var(--facade-color-0);
  }

  .facade-pattern {
    fill: url(#stuccoPattern);
  }
}

.facade-color-1 {
  .facade {
    fill: var(--facade-color-1);
  }

  .facade-pattern {
    fill: url(#rauputzPuttern);
  }
}

.facade-color-2 {
  .facade {
    fill: var(--facade-color-2);
  }

  .facade-pattern {
    fill: url(#rauputzPuttern);
  }
}

.facade-color-3 {
  .facade {
    fill: var(--facade-color-3);
  }

  .facade-pattern {
    fill: url(#stuccoPattern);
  }
}

.facade-color-4 {
  .facade {
    fill: var(--facade-color-4);
  }

  .facade-pattern {
    fill: url(#rauputzPuttern);
  }
}
