.window-frame {
  stroke-width: 9px;
}

.window {
  fill: #313548;
  stroke: white;
  stroke-width: 2px;
}

.blinds {
  fill: #457949;
}

.blinds-separator {
  stroke: #365C39;
}

.window-center-bar {
  stroke: white;
  stroke-width: 2px;
}

.window-cross-bar {
  stroke: white;
  stroke-width: 1px;
}

.accent-color-0 {
  .window-frame {
    stroke: var(--accent-color-0);
  }
}

.accent-color-1 {
  .window-frame {
    stroke: var(--accent-color-1);
  }
}

.accent-color-2 {
  .window-frame {
    stroke: var(--accent-color-2);
  }
}
