.form-content {
  display: flex;
  gap: 1em;
}

.options-form {
  flex: 1;
}

.options {
  display: flex;
  gap: 1em;

  .option {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}

.label {
  margin-bottom: .5em;
}

.author {
  width: 40%;
}

.validation-message {
  color: #943636;
  font-size: .9em;
  margin-top: .2em;
}

.cancel {
  text-align: center;
  margin-bottom: 0;
}
