.wrapper {
  h1 {
    text-align: center;
  }
}

.form-content {
  display: flex;
  gap: 1em;
}

.options-form {
  flex: 1;
}

.options {
  display: flex;
  gap: 1em;

  .option {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
