.entry {
  background: #ffffff;
  box-shadow: 1px 8px 10px rgba(0, 0, 0, .05);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.message {
  width: 100%;
}

.author {
  display: inline-block;
  font-family: 'Mortega Regular', sans-serif;
  font-size: 1.8em;
}
