.builders-plaque {
  background: url('/public/builders-plaque.png') #c6c8c3;
  border: 3px solid #eee;
  border-right-color: #a4a4a4;
  border-bottom-color: #a4a4a4;
  color: #a4a4a4;
  text-align: center;
  padding: .5em;
  width: 130px;
  font-family: 'Lato Regular', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .3), 0 -1px 0 rgba(0, 0, 0, .7);
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .15);
  }
}
