:root {
  --window-frame-color: #fff;
  --window-border: 3px;
  --window-outer-border: 8px;

  --border-color-top: #5865b7;
  --border-color-sides: #7482e7;
  --border-color-bottom: #8c99fc;
}

.window-frame {
  border: var(--window-outer-border) solid var(--primary-color);
  box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
}

.window-image {
  display: block;
  /*border: var(--window-border) solid var(--border-color-sides);*/
  /*border-top-color: var(--border-color-top);*/
  /*border-bottom-color: var(--border-color-bottom);*/
  /*border: var(--window-border) solid #fff;*/

  img, svg {
    width: 100%;
    display: block;
  }
}

.image-label {
  margin-top: 1em !important;
  margin-bottom: 0;
  text-align: center;
  color: #624325;
}

.source {
  font-size: .8em;
  opacity: .7;
  margin-top: .2em;
}
