.preview {
  background: #bebebe;
  border: solid 3px #fff;
  width: 350px;
  height: 350px;
  margin: 2em;

  svg {
    width: 100%;
    height: 100%;
  }
}

.style1 {
  .facade {
    fill: #f3f3f3;
  }

  .door {
    fill: #33b377;
  }

  .window {
    fill: #33b377;
  }

  .roof {
    fill: #8a3232;
  }

  .small-base {
    fill: #3a1b1b;
  }

  .large-base {
    display: none;
  }
}
