.container {
  width: 840px;
  min-height: 100vh;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.roof-header {
  display: flex;
  flex-direction: column;

  &:nth-of-type(1) {
    width: 500px;
    height: 60px;
  }

  &:nth-of-type(2) {
    width: 600px;
    height: 170px;
    margin-bottom: -18px;
    position: relative;
    z-index: 3;
  }

  &:nth-of-type(3) {
    width: 740px;
    height: 70px;
    margin-bottom: -18px;
    position: relative;
    z-index: 2;
  }

  &:nth-of-type(4) {
    width: 100%;
  }

  .roof-edge {
    background: #7988f1;
    height: 18px;
    /*box-shadow: 0 3px 4px rgba(0, 0, 0, .1);*/
    position: relative;
    z-index: 1;
  }

  .roof-front {
    background: url('/public/bg.png') #eab49a;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
  }
}

.header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-top: 30px;

  .header-content {
    background: #797979;
    width: 762px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  font-family: 'GrenadierNF', sans-serif;
  font-weight: normal;
  font-size: 3.2em;
  color: #fffaf4;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.content {
  width: 100%;
  padding: 1em 3em;
}

.footer {
  background: url("/public/footer.png");
  width: 100%;
  padding: 30px 50px;
}

.lamp {
  height: 150px;
  overflow: visible;
  position: absolute;
  top: 0;

  &:first-of-type {
    left: 0;
  }

  &:last-of-type {
    right: 0;
  }

  .light {
    fill: #fce3b4;
    filter: drop-shadow(0 0 10px hsl(43, 82%, 57%));
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 1;
  }

  .railing {
    fill: none;
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 1;
  }
}
