.builders-plaque {
  background: #cccdc8;
  border: outset;
  color: #222;
  text-align: center;
  padding: .5em;
  width: 120px;
  font-family: 'Lato Regular', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-wrap: balance;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
}
