* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button {
  font-family: 'Helvetica Neue', sans-serif;
}

button {
  background: #6388a5;
  border: 3px solid #6388a5;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding: .5em 1em;
}

a {
  text-decoration: none;
}
